
\.vs/

windows/\.vs/wooting-analog-reader/v14/\.suo

windows/Release/
windows/Backup/
windows/Debug/
windows/x64/

*.htm

*.db

*.opendb

*.filters

*.user

*.aps

src/*.o
linux/*.o
linux/*.so
linux/*.pc

mac/*.dylib

